---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About">
  <h2>Arda Şahin Hakkında</h2>
  <p>İlk bilgisayarına 2011 yılında sahip oldu. 2021 yılında Python ile başladığı yazılım geliştirme yolculuğu C, C++ ve Java ile devam etmektedir.</p>
</Layout>