---
import Layout from '../layouts/Layout.astro';
const posts = await Astro.glob('./posts/*.md');
---
<Layout title="Blog">
  <h2>SON GÖNDERİLER</h2>
  <ul class="post-list">
    {posts.map(post => (
      <li>
        <a href={post.url}>{post.frontmatter.title.toUpperCase()}</a>
        <span class="post-date">{post.frontmatter.pubDate.slice(0,10)}</span>
      </li>
    ))}
  </ul>
</Layout>

<style>
  .post-list {
    list-style-type: none;
    padding: 0;
  }
  .post-list li {
    margin-bottom: 1rem;
  }
  .post-date {
    display: block;
    font-size: 0.8em;
    color: #777;
  }
  @media (max-width: 600px) {
    .post-list li {
      margin-bottom: 1.5rem;
    }
  }
</style>