---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Home">
  <h2>Hoşgeldiniz</h2>
  <p>Bu blog bilgisayar oyunları, işletim sistemleri ve bileşenleri ayrıca diğer olağan üstü yazılım projeleri ile ilgili yazılar içermektedir</p>
  <div class="ascii-art">
    <pre>
     _____  ____  ____    _____ 
    |  _  ||    ||    \  |  _  |
    |     ||  __||  D  ) |     |
    |  |  ||  __||    /  |  |  |
    |     ||     |    \  |     |
    |  |  ||  |  |  .  \ |  |  |
    |_____||__|  |__|\_| |_____|
    </pre>
  </div>
</Layout>

<style>
  .ascii-art {
    overflow-x: auto;
    white-space: pre;
    font-size: 0.8em;
    text-align: center;
    margin: 2em 0;
  }
  @media (max-width: 600px) {
    .ascii-art {
      font-size: 0.6em;
    }
  }
</style>