---
---
<nav>
    <ul>
      <li><a href="/">ANASAYFA</a></li>
      <li><a href="/blog">BLOG</a></li>
      <li><a href="/about">HAKKINDA</a></li>
    </ul>
  </nav>
  
  <style>
    nav {
      margin-bottom: 2rem;
      border-top: 1px solid #1FB714;
      border-bottom: 1px solid #1FB714;
      padding: 10px 0;
    }
    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    li {
      margin: 5px 10px;
    }
    a {
      color: #65B5F6;
      text-decoration: none;
      font-weight: bold;
    }
    a:hover {
      color: #FF6600;
    }
    @media (max-width: 600px) {
      ul {
        flex-direction: column;
        align-items: center;
      }
    }
  </style>