---
import Layout from './Layout.astro';
const { frontmatter } = Astro.props;
---
<Layout title={frontmatter.title}>
  <article>
    <h2>{frontmatter.title}</h2>
    <p>PAYLAŞIM TARİHİ: {frontmatter.pubDate.slice(0,10)}</p>
    <div class="content">
      <slot />
    </div>
    <p><a href="/blog">&lt;&lt; GERİ DÖN</a></p>
  </article>
</Layout>

<style>
  .content {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  @media (max-width: 600px) {
    h2 {
      font-size: 1.2rem;
    }
  }
</style>