---
import Navigation from '../components/Navigation.astro';
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <style is:global>
      @font-face {
        font-family: 'Apple II';
        src: url('/fonts/AppleIiScreenTypeface-2aP3.ttf') format('ttf');
      }
      :root {
        --font-size-base: 16px;
        --font-size-lg: 18px;
        --font-size-xl: 20px;
      }
      body {
        font-family: 'Apple II', monospace;
        background-color: #000;
        color: #1FB714;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        line-height: 1.6;
        font-size: var(--font-size-base);
      }
      a {
        color: #65B5F6;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      h1, h2, h3 {
        color: #FF6600;
      }
      @media (max-width: 600px) {
        body {
          padding: 10px;
          font-size: var(--font-size-base);
        }
        h1 {
          font-size: 1.5rem;
        }
      }
      @media (min-width: 601px) and (max-width: 1024px) {
        body {
          font-size: var(--font-size-lg);
        }
      }
      @media (min-width: 1025px) {
        body {
          font-size: var(--font-size-xl);
        }
      }
    </style>
  </head>
  <body>
    <header>
      <h1>ARDA ŞAHİN BLOG</h1>
      <Navigation />
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <p>&copy; 2024 Arda Şahin Blog</p>
    </footer>
  </body>
</html>